/* 

Default View: more than 1024px;

Orange: #FFA500
Black: #000000
White: #FFFFFF

*/
* {
	font-family: 'Lato', sans-serif;
	scroll-behavior: smooth;
}

.fa-camera-retro {
	font-size: 30px;
	color: #ffffff;	
}

.fa-bars {
	color: #ffffff;
}

.fa-facebook-square {
	font-size: 30px;
}

.gallery {
	width: 360px;
	height: auto;
	border-radius: 5px;
}

.carousel-about {
	position: absolute;
	top: 250px;
	left: 200px;
	color: #ffffff;
}

.carousel-about-2 {
	position: absolute;
	top: 250px;
	left: 200px;
	color: #ffffff;
	width: 550px;
}

.carousel-about-3 {
	position: absolute;
	top: 250px;
	left: 200px;
	color: #ffffff;
}

.navbar {
	background-color: #000000;
	color: #ffffff;
} 

.nav-link {
	color: #ffffff;
}

.nav-link:hover {
	color: #ffa500;
}

footer {
	background-color: #000000;
	color: #ffffff;
}

.footer-link {
	color: #ffffff;
}

.footer-link:hover {
	color: #ffa500;
}

@media(max-width: 1024px){
	/* For Laptops */
	.carousel-about {
		position: absolute;
		top: 100px;
		left: 100px;
		width: 400px;
	}

	.carousel-about-2 {
		position: absolute;
		top: 100px;
		left: 100px;
		width: 400px;
	}

	.carousel-about-3 {
		position: absolute;
		top: 100px;
		left: 100px;
	}

	.gallery {
		width: 300px;
		height: auto;
		border-radius: 5px;
	}

	/*.gallery-header {
		margin-top: 30px;
	}*/
}

@media(max-width: 768px){
	/* For Tablets */
	.carousel-about {
		position: absolute;
		top: 25px;
		left: 50px;
		width: 300px;
	}

	.carousel-about-2 {
		position: absolute;
		top: 25px;
		left: 50px;
		width: 300px;
	}

	.carousel-about-3 {
		position: absolute;
		top: 80px;
		left: 50px;
	}

	.gallery {
		width: 220px;
		height: auto;
		border-radius: 5px;
	}
}

@media(max-width: 640px){
	/* For Mobile Phones: 640px Horizontal View */
	.gallery {
		width: 170px;
	}
	 .carousel-about, .carousel-title {
	 	width: 250px;
		font-size: 20px;
	}

	.carousel-about-2, .carousel-title-2 {
		width: 250px;
		font-size: 20px;
	}

	.carousel-about-3, .carousel-title-3 {
		width: 250px;
		font-size: 20px;
		top: 15px;
	}
}

@media(max-width: 360px){
	/* For Mobile Phones with a width of 360px */
	.gallery {
		width: 330px;
	}

	.carousel-about, .carousel-title {
		font-size: 10px;
		top: 15px;
		left: 30px;
	}

	.carousel-about-2, .carousel-title-2 {
		font-size: 10px;
		top: 15px;
		left: 30px;
		width: 125px;
	}

	.carousel-about-3, .carousel-title-3 {
		font-size: 10px;
		top: 15px;
		left: 30px;
		width: 200px;
	}
}